ion-title {
  text-align: center;
  margin-right: 40px;
  font-size: large;
  font-weight: bold;
}

ion-item {
  --highlight-color-focused: var(--ion-color-primary);
  border-color: #ffffff;
  border-style: groove;
  border-radius: 3px;
  margin: 10px 15px 0px 15px;
}

.saveBtn {
  height: 45px;
  text-align: center;
  text-transform: capitalize;
  margin: 100px 15px 0px 15px;
  --color: var(--ion-color-light);
}
