<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Record Payment</ion-title>
  </ion-toolbar>

  <ion-toolbar class="custom-toolbar">
    <ion-title class="custom-title">Received Payment : 07 Nov 2023</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item lines="none" class="border">
    <ion-label>Party Name</ion-label>
    <ion-select slot="end">
      <ion-select-option value="john-mark" icon="chevron-up-outline">John Mark</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list  class="border">
    <ion-item lines="none">
      <ion-label>John Mark</ion-label>
      <ion-note slot="end">₹50.00</ion-note>
      <ion-button fill="clear" slot="end" class="party-btn">
        <ion-icon name="arrow-up-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item lines="none">
      <ion-label>John Mark</ion-label>
      <ion-note slot="end">₹50.00</ion-note>
      <ion-button fill="clear" slot="end" class="party-btn">
        <ion-icon name="arrow-up-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item lines="none">
      <ion-label>John Mark</ion-label>
      <ion-note slot="end">₹50.00</ion-note>
      <ion-button fill="clear" slot="end" class="party-btn">
        <ion-icon name="arrow-up-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item lines="none">
      <ion-label>John Mark</ion-label>
      <ion-note slot="end">₹50.00</ion-note>
      <ion-button fill="clear" slot="end" class="party-btn">
        <ion-icon name="arrow-up-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item lines="none">
      <ion-label>John Mark</ion-label>
      <ion-note slot="end">₹50.00</ion-note>
      <ion-button fill="clear" slot="end" class="party-btn">
        <ion-icon name="arrow-up-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-item lines="none" class="border">
    <ion-input type="text" placeholder="Amount"></ion-input>
  </ion-item>

  <ion-item lines="none" class="ion-margin-top">
    <ion-label position="stacked">Payment Mode</ion-label>
    <ion-radio-group [(ngModel)]="selectedPaymentMode" class="payment-mode-group">
      <ion-item lines="none" class="payment-mode-item">
        <ion-label>Cash</ion-label>
        <ion-radio slot="end" value="cash"></ion-radio>
      </ion-item>
      <ion-item lines="none" class="payment-mode-item">
        <ion-label>Cheque</ion-label>
        <ion-radio slot="end" value="cheque"></ion-radio>
      </ion-item>
      <ion-item lines="none" class="payment-mode-item">
        <ion-label>Online</ion-label>
        <ion-radio slot="end" value="online"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-item>
  
</ion-content>
