<ion-tab-bar slot="bottom">
  <ion-tab-button layout="icon-top" (click)="orderPageNavigation('home')">
    <ion-icon [ngClass]="checkRouter === '/home' ? 'active': ''" name="home-outline"></ion-icon>
  </ion-tab-button>
  <ion-tab-button layout="icon-top" [selected]="checkRouter === '/order' ? true : false"
    (click)="orderPageNavigation('order')">
    <ion-icon color="dark" name="people-outline"></ion-icon>
  </ion-tab-button>
  <ion-tab-button layout="icon-top" [selected]="checkRouter === '/services' ? true : false"
    (click)="orderPageNavigation('services')">
    <ion-icon [ngClass]="checkRouter === '/services' ? 'active': ''" name="add-outline"></ion-icon>
  </ion-tab-button>
  <ion-tab-button layout="icon-top" [selected]="checkRouter === '/setting' ? true : false"
    (click)="orderPageNavigation('setting')">
    <ion-icon color="dark" name="document-outline"></ion-icon>
  </ion-tab-button>
  <ion-tab-button layout="icon-top" [selected]="checkRouter === '/add-store-address' ? true : false"
    (click)="orderPageNavigation('add-store-address')">
    <ion-icon [ngClass]="checkRouter === '/add-store-address' ? 'active': ''" name="person-outline"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
