<ion-header class="ion-no-border">
  <div class="custom-header">
    <div class="header-content">
      <img src="assets/images/Deilify.jpg" alt="Deilify Logo" class="logo-image" />
    </div>
  </div>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-container">
    <div class="welcome-text">
      <ion-grid>
        <ion-row>
          <ion-col size="2">
            <ion-back-button icon="chevron-back-outline" default-href="/login"></ion-back-button>
          </ion-col>
          <ion-col>
            <h5>Verify OTP</h5>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ion-item lines="none">
      <ng-otp-input
        (onInputChange)="onOtpChange($event)"
        [config]="config">
      </ng-otp-input>
    </ion-item>

    <div>
      <h5 class="timer" *ngIf="timer">00 : {{ timer > 9 ? timer:'0'+timer }}</h5>
    </div>
    
    <div class="resendOtp" *ngIf="resendOtp">
      Didn't Get Code? <a (click)="resendOtpBtn()">Resend OTP</a>
    </div>
  </div>

  <ion-row class="btn-row">
    <ion-col>
      <ion-button strong="true" mode="md" expand="block" fill="solid" [disabled]="invalidOtp" (click)="verifyOtp()">
        Verify OTP</ion-button>
    </ion-col>
  </ion-row>
</ion-content>